<!DOCTYPE html>
<html>
<head>

<title>Movie Chatbot</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>
<div id="sidebar">

<div id="tt">
MovieGPT 🎬
</div>
<button id="nc" onclick="createChat()">+ New Chat</button>

<div id="chat-list"></div>

</div>


<div id="chat-area">

<div id="chat-box"></div>

<div id="input-area">

<input id="user-input" placeholder="Ask about movies...">

<button onclick="sendMessage()">Send</button>

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="/static/script.js"></script>

</body>
</html>
